<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Food Menu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #C1F2B0; /* Foody background color */
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        .menu-item {
            background-color: #fff; /* Menu item background color */
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .dish-name {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .price {
            font-size: 16px;
            color: #555;
        }
    </style>
</head>
<body>
<h1 style="color: #820300"> INDIAN TASTE </h1>
<br>
<br>
    <button href='/join' >Click here to join us!</button>
 <form id="myForm" action="/join">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>

    <input type="submit" value="Submit">
  </form>


<div class="menu-item">
    <div class="dish-name"  style="font-size: 40px;"><b>Mushroom Curry</b></div>
    <div class="price"  style="font-size: 30px;">7.5 Euro (for 2 people)</div>
    <img src="static/images/mush.jpg" height="380px; width: 500px;">
    <br>
    <br>
    <b><i>"Mushroom curry, a savory dish infused with spices and coconut milk, offers a delightful medley of earthy
        flavors. Its rich texture and aromatic essence make it a comforting culinary experience."</i></b>

</div>

<div class="menu-item">
    <div class="dish-name"  style="font-size: 40px;"><b>Indian Potato Curry</b></div>
    <div class="price"  style="font-size: 30px;">7.4 Euro (for 2 people)</div>
    <img src="static/images/pot.jpg" height="380px; width: 500px;">
    <br>
    <br>
    <b><i>
        "Potato curry, a comforting dish crafted with tender potatoes in a blend of aromatic spices, offers a hearty and
        flavorful experience that satisfies the palate with its delicious simplicity."</i></b>

</div>

<div class="menu-item">
    <div class="dish-name"  style="font-size: 40px;"><b>Indian Rasam</b></div>
    <div class="price"  style="font-size: 30px;">4 Euro(for 2 people)</div>
    <img src="static/images/ras.jpeg" height="380px; width: 500px;">
    <br>
    <br>
    <b><i>
        "Indian rasam, a spicy and tangy soup infused with tamarind, tomatoes, and aromatic spices, delivers a burst of
        flavors. Its comforting warmth and zesty notes define traditional South Indian cuisine."</i></b>

</div>

<div class="menu-item">
    <div class="dish-name"  style="font-size: 40px;"><b>Puliogre/ Vangibath</b></div>
    <div class="price" style="font-size: 30px;">6.5 Euro (for 2 people)</div>
    <img src="static/images/pul.jpeg" height="380px; width: 500px;">
    <br>
    <br>

    <br>
    <br>
    <br>
    <b><i>
        "Vangibath, a South Indian delight, blends aromatic spices with eggplant and rice, creating a flavorful, hearty
        dish. Its rich taste satisfies discerning palates with every delicious spoonful."</i></b>
    <br>
    <br>
    <b><i>
        "Puliogre, a tangy South Indian rice dish, tantalizes taste buds with its blend of tamarind, spices, and rice.
        Its zesty and flavorful profile captures the essence of traditional cuisine." <br>


</div>

<div class="menu-item">
    <div class="dish-name"  style="font-size: 40px;">Veg Biryani</div>
    <div class="price"  style="font-size: 30px;">10 Euro (for 3 people)</div>
    <img src="static/images/bir.jpeg" height="380px; width: 500px;">
    <br>
    <br>
    <b><i>"Veg biryani, a fragrant rice dish layered with vegetables, aromatic spices, and herbs, tantalizes the senses
        with its rich flavors. Its colorful presentation embodies the essence of indulgent Indian cuisine."</i></b>

</div>

<div class="menu-item">
    <div class="dish-name"  style="font-size: 40px;"><b>Potato Rice</b></div>
    <div class="price"  style="font-size: 30px;">6 Euro (for 2 people)</div>
    <img src="static/images/potato.jpeg" height="380px; width: 500px;">
    <br>
    <br>
    <b><i>
        "Potato rice, a delightful fusion of fluffy rice and seasoned potatoes, harmonizes simplicity with savory
        flavors. Its comforting appeal and aromatic essence showcase a satisfying culinary experience in every bite."


    </i></b>

</div>

<div class="menu-item">
    <div class="dish-name"  style="font-size: 40px;"><b>Tomato Rice</b></div>
    <div class="price"  style="font-size: 30px;">5.7 Euro (for 2 people)</div>
    <br>
    <br>
    <img src="static/images/tom.jpeg" height="380px; width: 500px;">


    <b><i>
        <br>
        <br>

        "Tomato rice, a vibrant blend of tangy tomatoes, fragrant spices, and fluffy rice, offers a burst of flavors.
        Its enticing aroma and zesty taste capture the essence of authentic Indian cuisine."


    </i></b>
</div>
<br>
<br>

<div class="menu-item">
    <div class="dish-name" style="font-size: 40px;"><b>Onion and Tomato Chutney</b></div>
    <div class="price" style="font-size: 30px;">5 Euro (for 2 people)</div>
    <br>
    <br>
    <img src="static/images/chut.jpeg" height="380px; width: 500px;">
    <br>
    <br>
    <b><i>"Tomato and onion chutney, a zesty condiment blending ripe tomatoes, onions, and aromatic spices, delivers a
        tangy-sweet flavor. Its versatile taste enhances dishes, elevating meals with its vibrant essence."</i></b>

</div>
<br>
<br>


<div class="menu-item">
    <div class="dish-name" style="font-size: 40px;"><b>Chitranna</b></div>
    <div class="price" style="font-size: 30px;">5 Euro (for 2 people)</div>
    <br>
    <br>
    <img src="static/images/chit.jpeg" height="380px; width: 500px;">
</div>
<br>
<br>

<div class="menu-item">
    <div class="dish-name" style="font-size: 40px;"><b>Chapati / Tortilla</b></div>
    <div class="price" style="font-size: 30px;">2 Euro (2 pieces)</div>
    <br>
    <br>
    <img src="static/images/tort.jpeg" height="380px; width: 500px;">

    <br>
    <br>
    <b><i>"Tortilla wraps or chapatis, versatile flatbreads, offer a soft, pliable texture perfect for filling with
        savory or sweet ingredients. Their simplicity complements diverse cuisines, enhancing meals with wholesome
        satisfaction."</i></b>
</div>
</body>


<footer style="font-size: 25px;">&copy;ALL Deliveries will be extra, Free Deliveries in area of 1Km D01 City only!</footer>
</html>
